body{
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Path: src\style.css */
h1{
    font-size: 36px;
    margin: 0 0 30px;
}

/* Path: src\style.css */
h2{
    font-size: 30px;
    margin: 0 0 30px;
}

/* Path: src\style.css */
h3{
    font-size: 24px;
    margin: 0 0 30px;
}

/* Path: src\style.css */
h4{
    font-size: 18px;
    margin: 0 0 30px;
}

/* Path: src\style.css */
h5{
    font-size: 14px;
    margin: 0 0 30px;
}

/* Path: src\style.css */
h6{
    font-size: 12px;
    margin: 0 0 30px;
}   

/* Path: src\style.css */   
p{
    margin: 0 0 30px;
}

/* Path: src\style.css */
a{
    color: #fff;
    text-decoration: none;
}

/* Path: src\style.css */
a:hover{
    color: #fff;
    text-decoration: underline;
}

/* Path: src\style.css */
.container{
    margin: 0 auto;
    max-width: 960px;
    padding: 0 15px;
}